<th:block th:fragment="script">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/pace.min.js"></script>

  <script src="/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
  <script src="/assets/plugins/metismenu/metisMenu.min.js"></script>
  <script src="/assets/plugins/simplebar/js/simplebar.min.js"></script>
  <script src="/assets/js/main.js"></script>
  
  <!-- Daum Postcode CDN -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  
  <!-- Swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/common/alert.js"></script>
  <script src="/js/common/common.js"></script>
  <script src="/js/common/ajax.js"></script>
  
  
</th:block>
