<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.start.mapper.system.CodeGroupsMapper">

    <resultMap id="CodeGroupsMap" type="com.aloha.start.domain.system.CodeGroups">
        <id property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="list" resultType="com.aloha.start.domain.system.CodeGroups">
        SELECT *
        FROM code_groups
        WHERE 1=1
        <if test="queryParams.search != null and queryParams.search != ''">
            AND name LIKE CONCAT('%', #{queryParams.search}, '%')
        </if>
        ORDER BY no DESC
    </select>

</mapper>
