<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.start.mapper.system.SeqMapper">

    <resultMap id="SeqMap" type="Seq">
        <id property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="seq" column="seq"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <collection property="seqGroups" ofType="SeqGroups" column="seq_group_no" select="selectSeqGroup"/>
    </resultMap>

    <select id="list" resultType="Seq">
        SELECT *
        FROM seq
        WHERE 1=1
        <if test="queryParams.search != null and queryParams.search != ''">
            AND name LIKE CONCAT('%', #{queryParams.search}, '%')
        </if>
        ORDER BY no DESC
    </select>

    <select id="listWithParams" resultMap="SeqMap">
        SELECT s.*
        FROM seq s
        WHERE 1=1

        <if test="queryParams.search != null and queryParams.search != ''">
            AND (s.name LIKE CONCAT('%', #{queryParams.search}, '%')
                OR s.code LIKE CONCAT('%', #{queryParams.search}, '%')
                OR s.description LIKE CONCAT('%', #{queryParams.search}, '%'))
        </if>

        <if test="queryParams.params != null">
            <if test="queryParams.params.start != null and queryParams.params.start != ''">
                AND s.created_at <![CDATA[>=]]> CONCAT(#{queryParams.params.start}, ' 00:00:00')
            </if>
            <if test="queryParams.params.end != null and queryParams.params.end != ''">
                AND s.created_at <![CDATA[<=]]> CONCAT(#{queryParams.params.end}, ' 23:59:59')
            </if>
            <if test="queryParams.params.seqGroupNo != null">
                AND s.seq_group_no = #{queryParams.params.seqGroupNo}
            </if>
        </if>

        <if test="sortBy != null and sortBy.size() > 0">
            ORDER BY
            <foreach collection="sortBy" item="sortField" index="idx" separator=",">
                ${sortField}
                <if test="sortOrder != null and sortOrder.size() > idx">
                    ${sortOrder[idx]}
                </if>
            </foreach>
        </if>
        <if test="sortBy == null or sortBy.size() == 0">
            ORDER BY s.no DESC
        </if>
    </select>

    <select id="selectSeqGroup" resultType="SeqGroups">
        SELECT *
        FROM seq_groups
        WHERE no = #{seq_group_no}
    </select>

</mapper>
