/* Gender button colors */
:root {
  --male-color: #4E6CFF;
  --female-color: #FF2D81;
  --button-text-color: #FFFFFF;
  --wine: #7b036f;
  --coffee: #6F4E37;
}

.bg-male {
  background-color: var(--male-color);
}

.bg-female {
  background-color: var(--female-color);
}

.border-male {
  border-color: var(--male-color);
}

.border-female {
  border-color: var(--female-color);
}

.text-male {
  color: var(--male-color);
}

.text-female {
  color: var(--female-color);
}

/* Button styles */
.btn-male {
  color: var(--button-text-color);
}

.btn-male:hover {
  background-color: var(--male-color);
  border-color: var(--male-color);
  color: var(--button-text-color);
}

.btn-outline-male {
  color: var(--male-color);
  background-color: transparent;
  border: 1px solid var(--male-color);
}

.btn-outline-male:hover {
  background-color: var(--male-color);
  color: var(--button-text-color);
}

.btn-female {
  color: var(--button-text-color);
}

.btn-female:hover {
  background-color: var(--female-color);
  border-color: var(--female-color);
  color: var(--button-text-color);
}

.btn-outline-female {
  color: var(--female-color);
  background-color: transparent;
  border: 1px solid var(--female-color);
}

.btn-outline-female:hover {
  background-color: var(--female-color);
  color: var(--button-text-color);
}


/* scale */
.scale-1 {
  transform: scale(1);
}

.scale-2 {
  transform: scale(1.25);
}

.scale-3 {
  transform: scale(1.5) !important;
}

.scale-4 {
  transform: scale(1.75);
}

.scale-5 {
  transform: scale(2);
}

/* text-color */
.text-wine { color: var(--wine) !important; }
.text-coffee { color: var(--coffee) !important; }


/* top bottom left right */
.top-1 { top: 1px; }
.top-2 { top: 2px; }
.top-3 { top: 3px; }
.top-4 { top: 4px; }
.top-5 { top: 5px; }
.top-6 { top: 6px; }
.top-7 { top: 7px; }
.top-8 { top: 8px; }
.top-9 { top: 9px; }
.top-10 { top: 10px; }

.bottom-1 { bottom: 1px; }
.bottom-2 { bottom: 2px; }
.bottom-3 { bottom: 3px; }
.bottom-4 { bottom: 4px; }
.bottom-5 { bottom: 5px; }
.bottom-6 { bottom: 6px; }
.bottom-7 { bottom: 7px; }
.bottom-8 { bottom: 8px; }
.bottom-9 { bottom: 9px; }
.bottom-10 { bottom: 10px; }

.left-1 { left: 1px; }
.left-2 { left: 2px; }
.left-3 { left: 3px; }
.left-4 { left: 4px; }
.left-5 { left: 5px; }
.left-6 { left: 6px; }
.left-7 { left: 7px; }
.left-8 { left: 8px; }
.left-9 { left: 9px; }
.left-10 { left: 10px; }

.right-1 { right: 1px; }
.right-2 { right: 2px; }
.right-3 { right: 3px; }
.right-4 { right: 4px; }
.right-5 { right: 5px; }
.right-6 { right: 6px; }
.right-7 { right: 7px; }
.right-8 { right: 8px; }
.right-9 { right: 9px; }
.right-10 { right: 10px; }




.custom-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
  --bs-tooltip-color: var(--bs-white);
}


/* scale */
.scale-1 { transform: scale(1); }
.scale-2 { transform: scale(1.25);}
.scale-3 { transform: scale(1.5) !important; }
.scale-4 {transform: scale(1.75); }
.scale-5 { transform: scale(2); }

/* top bottom left right */
.top-1 { top: 1px; }
.top-2 { top: 2px; }
.top-3 { top: 3px; }
.top-4 { top: 4px; }
.top-5 { top: 5px; }
.top-6 { top: 6px; }
.top-7 { top: 7px; }
.top-8 { top: 8px; }
.top-9 { top: 9px; }
.top-10 { top: 10px; }

.bottom-1 { bottom: 1px; }
.bottom-2 { bottom: 2px; }
.bottom-3 { bottom: 3px; }
.bottom-4 { bottom: 4px; }
.bottom-5 { bottom: 5px; }
.bottom-6 { bottom: 6px; }
.bottom-7 { bottom: 7px; }
.bottom-8 { bottom: 8px; }
.bottom-9 { bottom: 9px; }
.bottom-10 { bottom: 10px; }

.left-1 { left: 1px; }
.left-2 { left: 2px; }
.left-3 { left: 3px; }
.left-4 { left: 4px; }
.left-5 { left: 5px; }
.left-6 { left: 6px; }
.left-7 { left: 7px; }
.left-8 { left: 8px; }
.left-9 { left: 9px; }
.left-10 { left: 10px; }

.right-1 { right: 1px; }
.right-2 { right: 2px; }
.right-3 { right: 3px; }
.right-4 { right: 4px; }
.right-5 { right: 5px; }
.right-6 { right: 6px; }
.right-7 { right: 7px; }
.right-8 { right: 8px; }
.right-9 { right: 9px; }
.right-10 { right: 10px; }
